.header {
    height: 70px !important;
    background: #F2F3FB;
    border-left: 2px solid #D8D8D8;
    border-bottom: 2px solid #D8D8D8;
    width: 100%;
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    font-size: 25px;
    color: #E92E63;
}

.runIcon {
    font-size: 25px;
    cursor: pointer;
}